/* Media queries */
@media (max-width: 768px) {

    .header_soc_set img {
        width: 43%;
        padding: 15px;
    }

    .block-slaider-text {
        margin-top: -185px;
        height: 185px;
    }
    .block-4 {
        background-color: #FF7500;
        border-radius: 12px;
        padding: 10px 0px;
        font-size: 17px;
        color: #fff;
        margin-top: 35px;
        font-family: Myriad Pro;
    }

}

@media (min-width: 768px) {
    .header_soc_set img {
        width: 65%;
        padding: 15px;
    }

    .block-slaider-text {
        margin-top: -300px;
        height: 300px;
    }

    .block-4 {
        background-color: #FF7500;
        border-radius: 12px;
        padding: 10px 0px;
        font-size: 17px;
        color: #fff;
        margin-top: 65px;
        font-family: Myriad Pro;
    }


}

@media (min-width: 992px) {
    .header_soc_set img {
        width: 67%;
        padding: 15px;
    }

    .block-5 img {
        width: 75%;
    }

    .block-slaider-text {
        margin-top: -350px;
        height: 350px;
    }

    .block-4 {
        background-color: #FF7500;
        border-radius: 12px;
        padding: 10px 0px;
        font-size: 17px;
        color: #fff;
        margin-top: 85px;
        font-family: Myriad Pro;
    }


}

@media (min-width: 1200px) {
    .header_soc_set img {
        width: 67%;
        padding: 15px;
    }

    .block-slaider-text {
        margin-top: -400px;
        height: 400px;
    }

    .block-5 img {
        width: 85%;
    }
    .block-4 {
        background-color: #FF7500;
        border-radius: 12px;
        padding: 10px 0px;
        font-size: 17px;
        color: #fff;
        margin-top: 85px;
        font-family: Myriad Pro;
    }

}

.block-slaider-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Myriad Pro;
}

.block-slaider-text img {
    width: 85%;
}

.header_top_bg {
    background-color: #FFD100;
}

.header_images {
    width: 100%;
}

.header_tel-icon {
    padding-left: 15px;
    padding-right: 15px;
}

.header_images_tel {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.header_tel-number {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_tel-number div {
    font-size: 18px;
}

.block_slaider_bottom {
    margin-top: 15%;
    left: 130px;
    position: relative;
    padding: 10px;
    background-color: #FFD100;
    border-radius: 10px;
}

.block_slaider_bottom a {
    color: #000;
}

.block-3 {
    font-size: 25px;
    padding: 15px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
}


.block-5{
    margin-bottom: 20px;
    margin-top: 20px;
}

.block-5 p{
    padding-left: 25px;
    line-height: 25px;
    padding-top: 15px;
    font-size: 17px;
    font-family: Myriad Pro;
}

.block-5-icon{
    margin-top: 10px;
    font-size: large;
    font-family: Myriad Pro;
    font-weight: bold;
}


/* Cod Nasti*/
.block_video_bg {
    background-color: #FFD200;
}

.block_video {
    padding: 20px;
    height: 70%;

}

.block_arrow_text {
    padding: 20px;
}

.block_arrow_text div {
    margin-bottom: 10px;
}



.block_slaider_right-1-text{
    font-size: 60px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin-top: -165px;
    left: -75px;
}


.block_slaider_right-2-tex{
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: Myriad Pro;
    margin-top: -90px;
    left: -20px;
    line-height: 60px;
}


.block_slaider_right-2-text-right{
    padding-left: 50px;
}

.block_slaider_right-1-header{
    font-family: Myriad Pro;
    color: #fff;
    font-size: 20px;
}

.block_slaider_right-1-header>div{
    margin-top: 5px;
}

.block-6-text{
    font-size: 30px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin: 30px 0px;
}

.block-6-images img{
    width: 100%;
    margin-bottom: 20px;
}

.block-7-fon{
    background-color: #FFD200;
}

.block-7-text-top{
    font-size: 36px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin: 15px 0px;
}

.block-7-text{
    font-size: 30px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin: 0px 0px;
}
.block-7-images{
    margin-bottom: 30px;
}
.block-7-images img{
    width: 100%;
}

.block-8-title{
    margin: 35px 0
}

.block-8-title span{
    font-size: 36px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin: 15px 0px;
}
.block-8-forma{
    margin-top: 32px;
}
.block-8-forma div{
    text-align: center;
}
.block-8-forma-input{
    width: 55%;
    margin: 10px 0;
    height: 40px;
    border-radius: 8px;
    border-color: #8E8C8C;
    padding-left: 10px;
    font-family: Myriad Pro;
    font-size: 16px;
}

.block-8-forma-buttom{
    width: 35%;
    margin: 10px 0;
    height: 40px;
    border-color: #FFD100;
    background-color: #FFD100;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
}


.form-count {
    width: 45px;
    padding: 5px;
    text-align: center;
    color: #1B1A1B;
    font-weight: bold;
}
.color-blue{
    background-color: blue;
}
.color-red{
    background-color: red;
}
.color-vinous{
    background-color: #9b2d30;
}
.color-orange{
    background-color: Orange;
}
.color-green{
    background-color: green;
}
.color-yellow{
    background-color: yellow;
}

.block-8-images span {
    color: red;
    font-family: Myriad Pro;
    font-size: 27px;
    font-weight: bold;
}


.block-8-images img{
    width: 100%;
}

.block-8-images-bottum{
    color: #FF4400;
    font-family: Myriad Pro;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
}

.block-9{
    background-color: #FFFF00;
}

.block-9-title{
    font-size: 36px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin-top: 30px;
}

.block-9-punck img{
    width: 20%;
    margin-bottom: 20px;
}
.block-9-punck-strelka{
    margin-left: 10px;
}

.block-9-punck-strelka img{
    width: 100%;
    padding-top: 50px;
}

.block-9-punck{
    margin: 45px 0px;
}
.block-10{
    margin-top: 20px;
}
.block-10-content{
    margin-bottom: 50px;
}

.block-10 span{
    font-size: 36px;
    color: #000;
    font-weight: bold;
    font-family: Myriad Pro;
    margin: 20px 0px;
}

.block-10-images img{
    width: 55%;
}

.block-10-forma-buttom {
    width: 35%;
    margin: 10px 0;
    height: 40px;
    border-color: #FFD100;
    background-color: #FFD100;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}

.block-10-forma{
    margin-top: 50px;
}

.block-11{
    background-color: #FFFF00;
}
.footer{
    padding: 20px;
    color: #040400;

}
.footer_tel-number p{
    font-weight: bold;
    font-family: Myriad Pro;
    font-size: 20px;
}
.our_email{


}

.copyright{
    padding-top: 30px;
    font-size: 10px;

}